* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.top {
    display: flex;
    background-color: black;
    flex-direction: row-reverse;
    align-items: end;
    gap: 3px;

}

.topbutton {
    color: white;
    border: none;
    background-color: grey;
    border-radius: 7px;
    margin: 9px 1px 9px;
    padding: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px;

}

.gallery>div {
    width: calc(100% / 7);
    padding: 2px;
    position: relative;
}

img {
    width: 100%;
}

p {
    color: white;
    position: absolute;
    bottom: 10px;
    left: 8px;
    background-color: rgba(0, 0, 0, .5);
}